.main {
	width: 1000px;
	margin: auto;
	height: 3050px;
	background-color: #F0EFEE;
	z-index: 0;
}
/* .big{
	height: 5000px;
	filter: blur(4px);
	margin: auto;
	width: 1100px;
	z-index: -1;
	background: inherit;
	position: absolute;
} */
body{
	background-color: #E6E6E6;
}
.top {
	width: 1000px;
	height: 100px;
}

.top h1 {
	display: inline-block;
	width: 300px;
	font-weight: 900;
	font-size: 40px;
	margin-left: 5%;
}

.链接 {
	float: right;
	display: inline-block;
	list-style: none;
	font-size: 25px;
}

.链接 li {
	float: right;
}

.链接 li:hover {
	transform: scale(1.05);
}

.链接 li a {
	display: block;
	width: 120px;
	line-height: 70px;
	font-weight: 500;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: orange;
}
.img1{
	margin-left: 48%;
}
.h2{
	margin-left: 40%;
}
.初心2{
	margin-top: 0px;
	text-align: center;
	font-size: 20px;
	margin-left: 35px;
	float: left;
	display: inline-block;
	width: 50%;
	height: 400px;
	}
#h2d{
	display: block;
	margin-top: 450px;
}
.为你打造{
	width: 100%;
	height: 900px;
}
.空{height: 470px; width: 100%;}
#d1{
	text-align: center;

	width: 190px;
	height: 260px;
	float: left;
	z-index: 3;
	-webkit-box-shadow: #666 0px 0px 10px;
	   -moz-box-shadow: #666 0px 0px 10px;
	   box-shadow: #666 0px 0px 10px;
	  border-radius: 30px;
	margin-top: 160px;
}
#d2{
	width: 190px;
	height: 240px;
	float: left;
	text-align: center;
	-webkit-box-shadow: #666 0px 0px 10px;
	   -moz-box-shadow: #666 0px 0px 10px;
	   box-shadow: #666 0px 0px 10px;
	  border-radius: 30px;
	z-index: 3;
	margin-left: 20px;
}
#d3{
	width: 190px;
	height: 260px;
	float: left;
	text-align: center;
	position: relative;
	top: 160px;
	z-index: 3;
	-webkit-box-shadow: #666 0px 0px 10px;
	   -moz-box-shadow: #666 0px 0px 10px;
	   box-shadow: #666 0px 0px 10px;
	  border-radius: 30px;
	 margin-left: 20px;
}
#d4{
	width: 190px;
	height: 240px;
	float: left;
	text-align: center;
	border-radius: 30px;
	z-index: 3;
	-webkit-box-shadow: #666 0px 0px 10px;
	   -moz-box-shadow: #666 0px 0px 10px;
	   box-shadow: #666 0px 0px 10px;
	  border-radius: 30px;
	margin-top: 30px;
	margin-left: 20px;
}
.打造img{
	border-radius: 800px;
}
#d5{
	margin-top: 30px;
	width: 360px;
	height: 420px;
	z-index: 5;
	float: right;
	border-radius: 100px;
	background-image: url(img1/f01d08f86b1d4426bfa97cf77d5e752c_th.jpg);
	background-size: cover;
	opacity:0.6;
}
.float:hover{
	transform: scale(1.20);
	transition: all 0.3s;

}
.优势{
	width: 235px;
	height: 300px;
	float: left;
	margin-left: 10px;
	border: #000000 solid 1px;
	border-radius: 20px;
	-webkit-box-shadow: #666 0px 0px 10px;
	   -moz-box-shadow: #666 0px 0px 10px;
	   box-shadow: #666 0px 0px 10px;
	text-align: center;
}
.优势img{
	border-radius: 20px;
}
.核心竞争力{margin-top: -200px;}
.合作{
	margin-top: 100px;
}
#合作{margin-bottom: 50px;
	}
.最后{
	height: 200px;
	width: 100%;
	background: #636363;
}
.h4{
	display: block;
	margin: 0px;
	position: relative;
	left: 100px;
	top: 50px;
	color: white;
	font-weight: 200;
}
.h5{
	margin: 0px;
	color: white;
	position: relative;
	left: 400px;
	top: 100px;
	font-weight: 200;
	
}
html {
    cursor: url('./menghuan.ico'), auto;
}
.draw {
    position: fixed;
    width: 1px;
    line-height: 1px;
    pointer-events: none;
}
@keyframes floatOne {
0% {
opacity:1;
}
50% {
opacity:1;
}
100% {
opacity:0;
transform:translate3D(0, -20px, 0) scale(5) rotate(45deg);
}
}
dl,dd,dt{margin:0;padding:0;}
a{ text-decoration:none;}

.floating_ck{position:fixed;right:20px;top:30%;}
.floating_ck dl dd{position:relative;width:80px;height:80px;background-color:#646577;border-bottom:solid 1px #555666;text-align:center;background-repeat:no-repeat;background-position:center 20%;cursor:pointer;}
.floating_ck dl dd:hover{background-color:#e40231;border-bottom:solid 1px #a40324;}
.floating_ck dl dd:hover .floating_left{display:block;}
.consult,.words{background-image:url(images/icon0701/zxicon.png);}
.quote{background-image:url(images/icon0701/kficon.png);}
.qrcord{background-image:url(images/icon0701/erweima.png);}
.return{background-image:url(images/icon0701/fanhui.png);}
.floating_ck dd span{color:#fff;display:block;padding-top:54px;}
.floating_left{position:absolute;left:-160px;top:0px;width:160px;height:80px;background-color:#e40231;border-bottom:solid 1px #a40324;display:none;}
.floating_left a{color:#fff;line-height:80px;}
.floating_ewm{height:260px;top:-180px;}
.floating_ewm i{background-image:url(images/erweima.png);display:block;width:145px;height:145px;margin:auto;margin-top:7px;}
.floating_ewm p{color:#fff;margin-top:5px;}
.floating_ewm .qrcord_p01{font-size:12px;line-height:20px;}
.floating_ewm .qrcord_p02{font-size:18px;}